@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.playfair {
  font-family: "Playfair Display", serif;
}

.dmsans {
  font-family: "DM Sans", sans-serif;
}

.gradientFont {
  background: linear-gradient(
    269deg,
    rgba(248, 169, 84, 1) 0%,
    rgba(52, 29, 20, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Include for potential future standard support */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for older browsers */
}
