.hotelMedia {
  background-image: url("/HotelCard/Grand serene.png");
  background-size: contain;
  height: 200px;
  width: 100%;
}

.tagButton {
  background-color: #b3843f;
  padding-inline: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
  padding-block: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
  border-radius: calc(infinity * 1px);
}
